# MacOS metadata
**/.DS_Store

# PyCharm project files
.idea

# Pycache
__pycache__

# Data files (typically large)
**/data

# Config files (might include sensitive information or depend on the deployment)
**/config

# Documentation build files
docs/build