[Unit]
Description=Celery Worker: embedding_gpu on GPU 0
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/dockerhost/graphai/graphai/api/main

EnvironmentFile=/home/dockerhost/graphai/.env
Environment=NLTK_DATA=/home/dockerhost/nltk_data

ExecStart=/usr/bin/env CUDA_VISIBLE_DEVICES=0 \
  /home/dockerhost/graphai/.venv.graphai/bin/celery --broker="${CELERY_BROKER_URL}" \
         -A main.celery_instance worker \
         -l info \
         -Q embedding_gpu \
         --concurrency=1 \
         -n RCP_GPU0_Embedding

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
