[Unit]
Description=Celery Worker: voice on CPUs
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/dockerhost/graphai/graphai/api/main

EnvironmentFile=/home/dockerhost/graphai/.env
Environment=NLTK_DATA=/home/dockerhost/nltk_data

ExecStart=/home/dockerhost/graphai/.venv.graphai/bin/celery \
    --broker=${CELERY_BROKER_URL} \
    -A main.celery_instance worker \
    -l info \
    -P prefork \
    -c 1 \
    --prefetch-multiplier=1 \
    -Q voice \
    -n RCP_Voice

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
