# MySQL configuration
DB_HOST=...
# If running on localhost, use DB_HOST=host.docker.internal
DB_PORT=...
DB_USER=...
DB_PASSWORD=...

# ElasticSearch configuration
ES_HOST=...
# If running on localhost, use DB_HOST=host.docker.internal
ES_PORT=...
ES_USERNAME=...
ES_PASSWORD=...
ES_CERT_FILENAME=...
# The ElasticSearch certificate is a .crt file

# Local storage configuration
HOST_CACHE_DIR=/path/to/cache/storage/
HOST_LOG_DIR=/path/to/logs/
HOST_CERTS_DIR=/path/to/certs
# The complete local path to the ElasticSearch certificate is
# HOST_CERTS_DIR / ES_CERT_FILENAME

# Required for celery running as root in this image
C_FORCE_ROOT=1
